

/*___menu ___ */

.menu {
	background: #1C1C1C;
	padding: 15px 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.menu-nav ul {
	float: right;
}

.menu-nav ul li {
	display: inline-block;
}

.menu-nav a {
	text-decoration: none;
	color: #FFFAFA;
	font-size: 1.2em;
	display: block;
	padding: 15px;
	margin-left: 15px;
}

.menu-nav ul li::after {
	display: block;
	content: '';
    height: 1.5px;
    width: 0%;
    background-color:#FFFAFA;
	transition: .2s;
	
}

.menu-nav ul li:hover::after{
	width: 100%;

}

@media (max-width: 739px) {
	.menu-nav ul {
		float: none;
	}
	.menu-nav ul li a {
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 8px;
	}
}

/* comeco */

.comeco {
	background: url("img/bg-intro.jpg") no-repeat center center;
	background-size: cover;
	color: #FFFAFA;
	padding: 140px 0;
	text-align: center;
}

.comeco h1 {
	text-transform: uppercase;
	font-size: 2.5em;
}

.comeco h1::after {
	content: '';
	display: block;
	width: 22px;
	height: 5px;
	background: #FFFAFA;
	margin: 12px auto;
}

.inicio p {
	font-style: italic;
	font-size: 1.2em;
}

@media (max-width: 739px) {
	.inicio {
		padding: 60px 0;
	}
}

/*___ sobre ___ */

.sobre {
	padding: 60px 0;
}

.sobre h2 {
	font-size: 2.3em;
	text-align: center;
	margin-bottom: 60px;
}

.sobre-item h3 {
	font-size: 2.3em;
	line-height: 1em;
	background: #1C1C1C;
	color: #FFFAFA;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	width: 210px;
	padding: 5px 0 10px 0;
	top: -25px;
}


.sobre > p {
	font-size: 1.2em;
	line-height: 1.6em;
	font-style: italic;
	max-width: 450px;
	margin: 25px auto;
	text-align: center;
	
}

/* ___ produtos ___ */

.produtos {
	background: #DCDCDC;
	border-top: 3px solid #D3D3D3;
	border-bottom: 3px solid #D3D3D3;
	padding: 50px 0;
}

.produtos-item {
	margin-bottom: 35px;
}

.produtos-item h2 {
	font-size: 2.3em;
	text-align: center;
	margin-bottom: 20px;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #DCDCDC;
	box-shadow: 0 0 0 5px currentColor;
	margin: 20px auto
}

h2.produtos-paulista::before {
	color: #442602;
}

h2.produtos-carioca::before {
	color: #d66e24;
}

h2.produtos-mineiro::before {
	color: #e9b458;
}

.produtos-item p {
	font-size: 0.9em;
	line-height: 1.5em;
}

.produtos-bt {
	border: 3px solid #1C1C1C;
	color: #1C1C1C;
	text-decoration: none;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 170px;
	padding: 15px 0;
	margin: 0 auto;
}

.produtos-btn:hover{
	border: 3px solid #1C1C1C;
	color: #DCDCDC;
	text-decoration: none;
	text-align: center;
	font-size: 1.13em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 0 auto;
	background-color:#1C1C1C;
	transition: all 1s ease;

}

/* ___unidades ___ */

.unidades {
	padding: 50px 0;
}

.unidades-item {
	margin-bottom: 30px;
}

.unidades-item h2 {
	font-size: 2.3em;
	margin-bottom: 15px;
}

.unidades-item p {
	font-size: 1.13em;
	line-height: 1.5em;
	max-width: 330px;
	margin-bottom: 50px;
}

.unidades-item a {
	font-size: 1.13em;
	text-transform: uppercase;
	text-decoration: none;
	border: 4px solid;
	color: #1C1C1C;
	padding: 12px 22px;
}

.unidades-item a:hover {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #1C1C1C ;
	color: #FFFAFA;
	padding: 10px 20px;
	background-color:#1C1C1C;
	transition: all 1s ease;

}

/* ___ contato ___ */

.contato {
	background: #DCDCDC;
	padding: 30px 0;
}

.contato-info h2 {
	font-size: 2.3em;
}

.contato-info p {
	font-size: 1.6em;
	font-style: italic;
}

.contato form label {
	display: none;
}

.contato input {
	border: 3px solid #1C1C1C;
	background: none;
	font-size: 1.6em;
	font-style: italic;
	font-family: Georgia, serif;
	width: calc(100% - 140px);
	padding: 10px;
	float: left;
}

.contato button {
	background: #1C1C1C;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #FFFAFA;
	cursor: pointer;
	width: 150px;
	padding: 1px 0;
}

/* ___footer ___ */

.rodape {
    background: #DCDCDC;
    font-family: Georgia, serif;
    padding: 20px 0;

}

.rodape img {
	float: right;
}

.rodape p {
	font-size: 1.140em;
	line-height: 1.4em;
}

@media (max-width: 739px) {
	.footer img {
		float: none;
        margin-top: 20px;
        
	}
}

@media (max-width: 750px) {
	.container {
		max-width: 330px;
	}
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		float: none;
	}
}

